[user]
	name = Andrew Stangl
	email = andrewstangl@gmail.com

#### from: http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
[alias]

    cp = cherry-pick --no-ff --no-commit
    st = status -s
    s  = status -sb
    pu = pull
    pm = pull --no-ff --no-commit
    fu = fetch upstream
    mum = merge upstream/master --no-ff --no-commit
    #rum = rebase upstream/master --interactive
    rum = rebase upstream/main --interactive
    rmi = rebase master --interactive
    mg = merge --no-ff --no-commit
    cl = clone
    ci = commit
    cm = commit -S -m
    co = checkout
    br = branch
    dc = diff --cached
    df = diff --color
    dfw = diff --word-diff=color --word-diff=plain

    pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
    pf = push --force-with-lease

    aa = "add --all"

    rh = reset HEAD

    l = !git log --graph --pretty='%C(yellow)%h%Creset %Cgreen(%ar)%Creset %C(bold blue)<%an>%Creset %C(red)%d%Creset %s' $*
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    le = log --oneline --decorate
    fl = log -u
    dl = "!git ll -1"
    dlc = diff --cached HEAD^

    dr  = "!f() { git diff "$1"^.."$1"; }; f"
    lc  = "!f() { git ll "$1"^.."$1"; }; f"
    diffr  = "!f() { git diff "$1"^.."$1"; }; f"

    f = "!git ls-files | grep -i"
    gr = "grep --break --heading --line-number"
    gg = "grep"

    ### list alias:
    la = "!git config -l | grep alias | cut -c 7-"

    ### Tags:
    lt = describe --tags --abbrev=0

    ### Tags:
    rv = revert --no-commit

    ### Stashes
    sl = stash list
    sa = stash apply
    sp = stash pop
    ss = stash save
    ssp = stash show -p
	spush = push --recurse-submodules=on-demand
	spull = !git pull && git submodule sync --recursive && git submodule update --init --recursive
#	branches = !legit branches
#	graft = !legit graft
#	harvest = !legit harvest
#	publish = !legit publish
#	unpublish = !legit unpublish
#	sprout = !legit sprout
#	sync = !legit sync
#	switch = !legit switch
#	resync = !legit resync
#
#[diff]
#    external = git_diff_wrapper
#
#[pager]
#    diff =

[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
    default = simple
[core]
    editor = vim
    pager = less
    autocrlf = input
    excludesfile = ~/.gitignore
	ignorecase = false
[grep]
    lineNumber = true
    extendRegexp = true
[init]
    templatedir = ~/.git_template
	defaultBranch = main
[status]
	submoduleSummary = true
[diff "sopsdiffer"]
	textconv = sops -d
#[credential]
#	helper = osxkeychain
#[credential]
#  #helper = !aws --profile CodeCommitProfile codecommit credential-helper $@
#	helper = !aws codecommit credential-helper $@
#	UseHttpPath = true
#	helper =
#	helper = /usr/local/share/gcm-core/git-credential-manager-core
#  #helper = /usr/local/share/gcm-core/git-credential-manager-core
[diff]
  noprefix = false

[diff]
  tool = vscode
	submodule = log
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[pull]
	rebase = false
[push]
  autoSetupRemote = true
[help]
	autocorrect = 1

#[http]
#  sslVerify = false

#[credential "https://gitlab.devops.telekom.de"]
#  username = andrew.stangl@weave.works
#	provider = generic
#  #helper = osxkeychain



[url "https://x-access-token:Fspz6Z54okRsB_CDEX3v@gitlab.devops.telekom.de/schiff"]
  insteadOf = git@gitlab.devops.telekom.de:schiff

[url "https://x-access-token:QtE3xavUYVUvqPZTjVGG@gitlab.devops.telekom.de/schiff"]
  insteadOf = https://gitlab.devops.telekom.de/schiff

[url "https://x-access-token:Fspz6Z54okRsB_CDEX3v@gitlab.devops.telekom.de/cit"]
  insteadOf = git@gitlab.devops.telekom.de:cit

[url "https://x-access-token:QtE3xavUYVUvqPZTjVGG@gitlab.devops.telekom.de/cit"]
  insteadOf = https://gitlab.devops.telekom.de/cit


#[url "git@gitlab.devops.telekom.de/schiff"]
#  #insteadOf = https://gitlab.devops.telekom.de/schiff
#  insteadOf = https://gitlab.devops.telekom.de/schiff


[credential "https://MMTOL@dev.azure.com"]
  UseHttpPath = true
  helper = /usr/local/bin/git-credential-manager-core
  #helper = manager-core
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential "https://dev.azure.com"]
	useHttpPath = true

#[http]
#	extraheader = PRIVATE-TOKEN: Fspz6Z54okRsB_CDEX3v
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[merge]
	conflictstyle = diff3
