[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/puppet"]
	path = vim/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/gundo"]
	path = vim/.vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bin/vimpager"]
	path = vim/bin/vimpager
	url = git@github.com:rkitover/vimpager.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-bracketed-paste"]
	path = vim/.vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/vim-terraform"]
	path = vim/.vim/bundle/vim-terraform
	url = https://github.com/bkad/vim-terraform.git
[submodule "vim/.vim/bundle/ack"]
	path = vim/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/.vim/vim/.vim/bundle/ack"]
	path = vim/.vim/vim/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/.vim/bundle/vim-groovy"]
	path = vim/.vim/bundle/vim-groovy
	url = https://github.com/vim-scripts/groovy.vim
