[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/snipmate.vim"]
	path = vim/.vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim/bundle/puppet"]
	path = vim/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/.vim/bundle/gundo"]
	path = vim/.vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bin/vimpager"]
	path = vim/bin/vimpager
	url = git@github.com:rkitover/vimpager.git
